
<div class = "container">
    <div class="groups">
        <h3><%= link_to group.name, group_path(group) %></h3>
        <% if !group.ban  %>
            <p id="notice"><%= notice %></p>
        <% end %>
        <% if user_signed_in? %>
            <% if group.user_create_id != current_user.id %>
                <% @check = false %>
                <% @members.each do |member| %>
                    <% if member.group_id == group.id %>
                        <% @check = true %>
                        <% if !member.status %>
                            <div class = "buttom">
                                <div class = "button">
                                    <button type="button" class="btn btn-default navbar-btn btn-join-group sended" data-user-id="<%= current_user.id %>" data-group-id="<%= group.id %>" id="btn-join">Đã gửi yêu cầu tham gia</button>
                                </div>
                            </div>
                        <% end %>  
                    <% end %>
                <% end %>
                <% if !@check%>
                    <% if group.status == 'private'  %>
                        <p id="notice"><%= notice %></p>
                    <% end %>
                    <div class = "buttom">
                        <div class = "button">
                            <button type="button" class="btn btn-default navbar-btn btn-join-group" data-user-id="<%= current_user.id %>" data-group-id="<%= group.id %>" id="btn-join">Tham gia nhóm</button>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>