<%= render "shared/header" %>

<!-- Tab links -->
<div class="tabs">
    <button class="tablinks active" data-post="allPosts">List post</button>
    <button class="tablinks" data-post="members">Members</button>
</div>

 <!-- Tab content -->
<div class="wrapper_tabcontent">
    <div id="allPosts" class="tabcontent active">
      <%= render "shared/listPost" %>
    </div>

    <div id="newPost" class="tabcontent">
      <% if user_signed_in? %>
        <%= link_to 'New Post', "#{@group.id}/posts/new" %>
      <% end %>
    </div>


    <div id="members" class="tabcontent">
      <% if @group.user_create_id == current_user.id %>
        <% @group.group_members.each do |member| %>
            <% if member.user_id != @group.user_create_id && !member.status %>
              <div class="member">
                <h3> <%= member.user.name %></h3>
                <button type="button" class="btn btn-default navbar-btn btn-accept-join-group"  data-status="true" data-user-id="<%= member.user_id %>" data-group-id="<%= member.group_id %>" >Accept</button>
                <button type="button" class="btn btn-default navbar-btn btn-reject-join-group" data-status="false" data-user-id="<%= member.user_id %>" data-group-id="<%= member.group_id %>" >Reject</button>
              </div>
            <% end %>
        <% end %>
        <% else %>
          <% @group.group_members.each do |member| %>
            <% if member.status %>
              <h3> <%= member.user.name %></h3>
            <% end %>
          <% end %>
      <% end %>
    </div>
</div>

<%= javascript_pack_tag 'group' %>

